<div class='wrapper'>
  <div class='sidebar'>
    <div class='title'>
      iRoutes
    </div>
    <ul class='nav'>
        <app-card #card [cardRoute]="cardRoute" [indexCard]="i" (indexEmitEvent)="receiveIndex($event)" *ngFor="let cardRoute of commonRoutes; let i=index" ></app-card>
    </ul>
  </div>
  <div class='content' [ngClass]="calculateClasses()">
    <a class='button' (click)="toggle()"></a>
    <app-map [indexCard]="indexCard" #map></app-map>
    <!-- <app-navbar></app-navbar> -->
  </div>
</div>
