<li>
  <div class="route-card">
    <div class="route-card-title">
      <h2>route name</h2>
    </div>
    <div class="route-card-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nihil aliquam blanditiis. </p>
    </div>
  </div>
</li>

<li>
    <div class="route-card">
      <div class="route-card-title">
        <h2>route name</h2>
      </div>
      <div class="route-card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium facilis enim blanditiis reiciendis consectetur. </p>
      </div>
    </div>
  </li>

  <li>
      <div class="route-card">
        <div class="route-card-title">
          <h2>route name</h2>
        </div>
        <div class="route-card-body">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias similique quos in eius ab corrupti dolorum quasi</p>
        </div>
      </div>
    </li>