$unit:50px;
$ease : cubic-bezier(.5,0,0,1);
$thick :4px;

.card{
  width: 100%;
  height: 100px;
}
.profile {
  width: 330px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(0, 0) scale(0.7);
  border-radius: 5px;
  background-color: black;
  box-shadow: 0 1px 2rem #868686;

  .circle, .content {
    box-sizing: border-box;
  }
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fafafa;
    margin-left: -50px;
    box-shadow: 0 0 0.6rem #868686;
  }
  .content {
    padding: 10px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &::before {
      content: "";
      position: absolute;
      background: black;
      width: 230px;
      height: 150px;
      left: 0;
      top: -20px;
      z-index: -1;
      transform: rotate(-8deg);
      box-shadow: 0 0 0.7rem white;
    }
    .text {
      margin-top: 20px;
      margin-left: 50px;
      h3, h6 {
        font-weight: normal;
        margin: 3px 0;
        font-family: 'Niramit', serif;
        letter-spacing: 0.5px;
        white-space: nowrap;
        color: white;
      }
    }
    .btn {
      width: 50px;
      height: 50px;
      position: absolute;
      right: 25px;
      top: 25px;
      border-radius: 50%;
      z-index: 1;
      cursor: pointer;
      transition-duration: 0.3s;
      animation: pop-btn 0.3s both ease-in-out 0.5s;
      &:hover {
        box-shadow: 0 0 0.9rem #C33764;
      }
    }
  }
.icon {
  display: inline-block;
  position: absolute;
  width: $unit;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scale(0.5);
  min-width: 20px; 
  max-width: 50px;
  max-height: 50px;
  margin: 0 auto;
  
  span {
    background: white;
    position: absolute;
  }
}
.-plus {
  height: inherit;
  transition: transform 0.3s $ease;
  
  span {
    
    &:nth-of-type(1) {
      top: 0;
      bottom: 0;
      width: $thick;
      left: calc(50% - (#{$thick} / 2));
    }      
    
    &:nth-of-type(2) {
      top: calc(50% - (#{$thick} / 2));
      bottom: 0;
      left: 0;
      right: 0;
      height: $thick;
      transform-origin: left;
      transition: transform 0.3s $ease 0.2s;
    }    
  }
  
  // active
  &.active {
    transform: rotate(-90deg);
    transition: transform 0s;
    
    span:nth-of-type(1) {
      top: 0;
      bottom: 0;
      width: $thick;
      left: calc(50% - (#{$thick} / 2));
      transform: translate3d(600%, 0, 0) scale(0.5) 
    }  
    span:nth-of-type(2) {
      transition: transform 0.3s $ease;
      transform: translate3d(-100%,0,0); 
    }    
  }
  
}

@keyframes pop-btn {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
 }
}
@media only screen and (max-width: 600px){
  .card{
    margin-left: 0.8em;
  }
  .profile{
    width: 100%;
    height: auto;

    .content{
      border-radius: 5px;

      
      .text{
        margin-top: 0px;
      }
      .btn{
        bottom: 5px;
        right: 5px;
        top:45px;
      }
    }
  }
}