<li class="card">
  <div class="profile">
    <div class="circle" [ngStyle]="{'background-color':cardRoute.color}" ></div>
    <div class="content">
      <div class="text">
        <h3>{{cardRoute.Nombre}}</h3>
        <h6>{{cardRoute.Tarifa}}</h6>
      </div>
      <div class="btn" [ngStyle]="{'background-color':cardRoute.color}" (click)="status=!status">
        <a class="icon -plus" [ngClass]="status ? 'active' : ''">
          <span ></span>
          <span ></span>
        </a> 
      </div>
    </div>
  </div>
</li>
