<li class="card">
  <div class="profile">
    <div class="circle"></div>
    <div class="content">
      <div class="text">
        <h3>Tu ruta bebé</h3>
        <h6>El precio es en peso</h6>
      </div>
      <div class="btn" (click)="status=!status">
        <a class="icon -plus" [ngClass]="status ? 'active' : ''">
          <span ></span>
          <span ></span>
        </a> 
      </div>
    </div>
  </div>
</li>
<li class="card">
  <div class="profile">
    <div class="circle"></div>
    <div class="content">
      <div class="text">
        <h3>Tu ruta bebé</h3>
        <h6>El precio es en peso</h6>
      </div>
      <div class="btn">
        <a class="icon -plus">
          <span></span>
          <span></span>
        </a> 
      </div>
    </div>
  </div>
</li>