
<agm-map [latitude]="center.lat" [longitude]="center.lng" [zoom]="zoom">
    <agm-circle   
        [latitude]="origin.location.lat" 
        [longitude]="origin.location.lng" 
        [radius]="radius" 
        [fillColor]="'red'"
        [strokeColor]="'black'">
    </agm-circle>
    <agm-circle 
        [latitude]="destiny.location.lat" 
        [longitude]="destiny.location.lng" 
        [radius]="radius" 
        [fillColor]="'red'" >
    </agm-circle>

    <agm-polyline *ngFor="let route of commonRoutes" [strokeColor]="route.color" [editable]="false">
        <agm-polyline-point *ngFor="let coords of route.Coordenadas" [latitude]="coords.lat" [longitude]="coords.lng" ></agm-polyline-point>
    </agm-polyline>

</agm-map>
<!-- [visible]="destinyLocation.status" -->
 
<div class="search-input">
    <input [(ngModel)]='address' type="text" placeholder="Busca un lugar ...">    
    <button class="searchBtn" (click)="setDestinyLocation(address)">BUSCAR</button>
</div>

